@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');
*
{
    font-family: 'Poppins';
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;
}
img
{
    width: 100%;
}
ul
{
    padding-left: 0px;
    list-style: none;
    margin-bottom: 0px;
}
.auth-wrapper
{
    height: 100vh;
}
.auth-img
{
    height: 100%;
    object-fit: contain;
}
.inner-auth-wrapper
{
    background-color: #180049;
    padding: 40px;
}
.logo-white
{
    max-width: 100px;
}
.link-text
{
    color: #fff;
    font-weight: 400;
}
.label-form
{
    font-size: 16px;
    color: #fff;
    font-family: 'Roboto';
    margin-bottom: 3px;
}
.logo-auth-wrapper
{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.remeber-check
{
    color: #fff;
}
.remeber-check input
{
    width: 20px;
    height: 20px;
    margin-top: 0px;
}
.remeber-check input:checked
{
    background-color: #77b255;
    border-color: #77b255;
}
.remeber-check input:focus
{
    box-shadow: none;
}
.auth-field
{
    padding: 12px 17px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}
.auth-field:focus
{
    box-shadow: none;
}
.auth-btn
{
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #502779;
    border-color: #502779;
    padding: 12px 10px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .2);
    transition: .4s ease;
}
.auth-btn:hover
{
    color: #fff;
    border-color: #fff;
}
.eye-btn
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background: transparent;
    border: none;
    color: #ad53a6;
    outline: none;
    font-size: 25px;
}
.sidebar
{
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 10px 30px;
    transition: .4s ease;
}
.sidebar-logo img
{
    max-width: 200px;
}
.main-wrapper
{
    width: calc(100% - 350px);
    margin-left: auto;
    padding: 20px;
}
.dashboard-link
{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    padding: 15px;
    background-color: #180049;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}
.dashboard-link svg
{
    width: 25px;
    height: 25px;
}
.sidebar-listing
{
    padding: 15px;
    background-color: #180049;
    border-radius: 10px;
}
.sidebar-item
{
    display: block;
    width: 100%;
}
.sidebar-listing .sidebar-item:first-child .side-link
{
    margin-top: 0px;
}
.sidebar-listing .sidebar-item:last-child .side-link
{
    margin-bottom: 0px;
}
.side-link
{
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px 0;
    transition: .4s ease;
}
.side-link.active
{
    color: #ac53a6;
}
.side-link svg
{
    width: 25px;
    height: 25px;
}
.bottom-link
{
    font-size: 16px;
    font-weight: 500;
    display: inline-flex;
    gap: 30px;
    margin-bottom: 20px;
    text-decoration: none;
    color: #180049;
}
.bottom-link svg
{
    width: 25px;
    height: 25px;
}
.main-btn
{
    display: inline-block;
    padding: 10px;
    color: #fff;
    background-color: #180049;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #180049;
    outline: none;
    transition: .4s ease;
}
.main-btn:hover
{
    color: #180049;
    background-color: transparent;
}
.notification-btn
{
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    color: #8a8a8a;
}
.notification-btn svg
{
    width: 30px;
    height: 30px;
}
.notification-btn:before
{
    content: '';
    position: absolute;
    top: 0;
    right: 8px;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background-color: #f00;
    border-radius: 50%;
}
.section-head
{
    font-size: 25px;
    font-weight: 600;
}
.section-head-sub
{
    font-size: 22px;
    font-weight: 600;
}
.overview-card-wrapper
{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.overview-card
{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    min-width: 300px;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    transition: .4s ease;
}
.overview-card:hover,
.overview-card.active
{
    background-color: #180049;
    border: 1px solid #180049;
}
.overview-card-subhead
{
    color: #000;
    font-weight: 400;
    font-size: 16px;
    transition: .4s ease;
}
.overview-card:hover .overview-card-subhead,
.overview-card.active .overview-card-subhead
{
    color: #fff;
}
.overview-card-heading
{
    font-size: 22px;
    color: #000;
    transition: .4s ease;
}
.overview-card:hover .overview-card-heading,
.overview-card.active .overview-card-heading
{
    color: #fff;
}
.over-icon
{
    color: #000;
    transition: .4s ease;
}
.overview-card:hover .over-icon,
.overview-card.active .over-icon
{
    color: #b4ffdb;
}
.over-icon svg
{
    width: 40px;
    height: 40px;
}
.developers-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 30px;
    grid-auto-flow: row;
}

.developer-card
{
    position: relative;
    padding: 40px 20px;
    background-color: #180049;
    border-radius: 20px;
}
.user-imgbx
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}
.user-img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.user-name
{
    font-size: 20px;
    color: #fff;
    margin-bottom: 18px;
}
.designation-user
{
    font-size: 16px;
    color: #fff;
    margin-bottom: 5px;
}
.email-user
{
    font-size: 16px;
    color: #fff;
}
.social-icons
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #fff;
}
.social-icons svg
{
    width: 20px;
    color: #fff;
    height: 20px;
}
.link-text-dark
{
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    padding: 5px 17px;
    color: #fff;
    border-radius: 5px;
    background-color: #180049;
    transition: .4s ease;
    border: 1px solid #180049;
}
.link-text-dark:hover
{
    background-color: transparent;
    color: #180049;
}
.common-label
{
    font-size: 15px;
    color: #121212;
}
.common-field
{
    border: none;
    padding: 12px 17px;
    border-radius: 8px;
    background-color: #e8e8e8;
    transition: .4s ease;
}
.common-field:focus
{
    box-shadow: none;
    background-color: #e8e8e8;
}
.filter-select
{
    padding: 7px 17px;
    min-width: 200px;
}
.flex-none
{
    flex: none !important;
}
.filter-field
{
    min-width: 200px;
    padding: 7px 17px;
}
.folder-listing
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 30px;
    grid-auto-flow: row;
}
.folder-list
{
    position: relative;
    /* padding: 12px 20px;
    background-color: #deeaff; */
    color: #003ba1;
    /* border-radius: 12px;
    display: flex;
    align-items: center; */
    /* gap: 10px; */
    cursor: pointer;
    transition: .4s ease;
}
.folder-list:hover
{
    color: #deeaff;
}
.folder-list span
{
    position: absolute;
    bottom: 50px;
    left: 30px;
    color: #fff;
    transition: .4s ease;
    font-weight: 600;
}
.folder-list:hover span
{
    color: #180049;
}
.folder-list svg
{
    width: 100%;
    height: 230px;
}
.breadcrumb
{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    background: #f2f5f7;
    border-radius: 16px;
}
.breadcrumb .bread-link
{
    font-size: 17px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    padding: 5px 16px;
    border-radius: 20px;
}
.breadcrumb .bread-link:hover
{
    background-color: #eee;
}
.pdf-listing
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 30px;
    grid-auto-flow: row;
}
.pdf-list
{
    position: relative;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #f2f5f7;
    overflow: hidden;
}
.pdf-list p
{
    margin: 0;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}
.pdf-list p span
{
    display: inline-flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    background-color: #fff3f3;
    color: #f00;
    border-radius: 5px;
}
.pdf-list p span svg
{
    width: 20px;
    height: 20px;
}
.pdf-icon
{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #fff3f3;
    margin-bottom: 10px;
    color: #f00;
}
.pdf-icon svg
{
    width: 50px;
    height: 50px;
}
.indicator-time-slot .slot-indicate
{
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
.slot-indicate.offday
{
    background-color: #ac53a6;
}
.slot-indicate.workday
{
    background-color: #e8e8e8;
}
.time-table-head
{
    background-color: #180049;
    color: #fff;
    font-size: 16px;
    padding: 16px 10px;
    border-color: #000;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}
.time-table-data
{
    color: #121212;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    border-color: #000;
    vertical-align: middle;
}
.developer-img
{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.time-table-data.offday-data
{
    background-color: #ac53a6;
}
.time-table tr
{
    border-color: #000;
}
.status-select
{
    min-width: 150px;
}
.outline-main-btn
{
    border: 1px solid #180049;
    color: #180049;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 500;
}
.outline-main-btn:hover
{
    border: 1px solid #180049;
}
.stats-chart-wrapper canvas
{
    height: 230px;
}
.client-card img
{
    max-width: 100px;
}
.check-icon
{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #00d100;
    display: inline-block;
}
.check-icon svg
{
    width: 22px;
    height: 22px;
}
.upload-invoice-label
{
    color: #180049;
    cursor: pointer;
}
.upload-image-label
{
    border: none;
    padding: 12px 17px;
    border-radius: 8px;
    background-color: #e8e8e8;
    transition: .4s ease;
    cursor: pointer;
}
.filter-select
{
    background-color: #180049;
    color: #fff;
    --bs-form-select-bg-img: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23ffffff%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e');
}
.filter-section
{
    padding: 10px;
    background: #f2f5f7;
    border: 1px solid #ccc;
    border-radius: 13px;
}
.filter-field-customize
{
    background-color: #180049;
    color: #fff;
    color-scheme: dark;
}
.filter-field-customize:focus
{
    background-color: #180049;
    color: #fff;
    color-scheme: dark;
}
.notification-dropdown-toggle
{
    border: none;
    outline: none;
}
.notification-dropdown-toggle::after
{
    display: none;
}
.notification-dropdown .notification-dropdown-menu
{
    top: 10px !important;
    left: initial !important;
    right: 0px !important;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .07);
    min-width: 300px;
    border: 1px solid #eee;
}
.no-notification
{
    background-color: #fff;
    pointer-events: none;
    color: #f00;
    font-size: 14px;
}
.no-notification:hover
{
    background-color: #fff;
}
.doc-action
{
    position: absolute;
    top: 0;
    right: 10px;
    transform: translateX(130%);
    margin-top: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: .4s ease;
}
.doc-action-btn
{
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    outline: none;
}
.doc-action-btn.view-btn
{
    background-color: #caeaff;
    color: #004cff;
}
.pdf-list:hover .doc-action
{
    transform: translateX(0);
}
.doc-action-btn.download-btn
{
    background-color: #ddffda;
    color: #1bb700;
}
.doc-action-btn.trash-btn
{
    background-color: #ffdada;
    color: #ff0000;
}
.doc-image
{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.resume-imgbx
{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.resume-imgbx .resume-img
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.resume-name
{
    text-transform: uppercase;
    font-weight: 600;
    color: #180049;
}
.resume-designation
{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    color: #180049;
}
.resume-basic-info
{
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
}
.connect-social-media
{
    padding-top: 30px;
}
.subheading-resume
{
    font-size: 20px;
    font-weight: 600;
    color: #180049;
}
.social-media
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;
}
.social-media-link
{
    font-size: 20px;
    color: #180049;
}
.about-info
{
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.mainheading-resume
{
    font-size: 30px;
    color: #180049;
    font-weight: 600;
}
.resume-text
{
    font-size: 18px;
    color: #121212;
}
.exp-wrapper
{
    margin-bottom: 29px;
}
.exp-wrapper .exp-year
{
    font-size: 20px;
    color: #121212;
    font-weight: 600;
}
.exp-role
{
    list-style: disc;
    padding-left: 30px;
}
.connect-social-media
{
    border-bottom: 1px solid #ccc;
    padding-bottom: 30px;
}
.skills-pill li
{
    display: inline-block;
    margin-right: 9px;
    margin-bottom: 9px;
}
.skills-pill li span
{
    display: inline-block;
    padding: 5px 14px;
    color: #fff;
    background-color: #180049;
    border-radius: 6px;
}
.bars-btn
{
    border: 1px solid #180049;
    background-color: #180049;
    outline: none;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 8px;
    transition: .4s ease;
}
.bars-btn:hover
{
    background: transparent;
    color: #180049;
}
@media only screen and (max-width: 992px)
{
    .about-info
    {
        border-left: none;
        padding-top: 30px;
    }   
    .resume-imgbx
    {
        width: 180px;
        height: 180px;
    }
    .sidebar
    {
        transform: translateX(-110%);
    }
    .main-wrapper
    {
        width: 100%;
    }
}